behave==1.2.6
behave-django==1.4.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.7.4
cffi==1.15.1
chardet==5.1.0
cssselect==1.2.0
cssselect2==0.7.0
defusedxml==0.7.1
Django==4.2.15
django-allauth==0.57.0
django-filter==22.1
djangorestframework==3.15.2
gunicorn==22.0.0
html5lib==1.1
idna==3.7
lxml==4.9.2
Markdown==3.7
MarkupSafe==2.1.5
oauthlib==3.2.2
olefile==0.46
parse==1.19.0
parse-type==0.6.0
pdfrw==0.4
Pillow==10.3.0
pycparser==2.21
pyphen==0.13.2
python3-openid==3.2.0
pytz==2022.6
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
sqlparse==0.5.0
urllib3==1.26.19
weasyprint==62.3
webencodings==0.5.1
