behave==1.2.5
behave-django==0.5.0
cairocffi==0.8.0
CairoSVG==2.0.3
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
cssselect==1.0.1
cssselect2==0.2.0
defusedxml==0.5.0
Django==1.11.4
django-allauth==0.32.0
django-filter==1.0.4
djangorestframework==3.6.4
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
lxml==3.8.0
Markdown==2.6.9
MarkupSafe==1.0
oauthlib==2.0.2
olefile==0.44
parse==1.8.2
parse-type==0.3.4
Pillow==4.2.1
pycparser==2.18
Pyphen==0.9.4
python3-openid==3.1.0
pytz==2017.2
requests==2.18.4
requests-oauthlib==0.8.0
six==1.10.0
tinycss==0.4
tinycss2==0.6.0
urllib3==1.22
WeasyPrint==0.40
webencodings==0.5.1
