behave==1.2.5
behave-django==0.5.0
certifi==2017.4.17
chardet==3.0.4
codecov==2.0.9
coverage==4.4.1
Django==1.11.4
django-allauth==0.32.0
enum34==1.1.6
gunicorn==19.7.1
idna==2.5
oauthlib==2.0.2
parse==1.8.2
parse-type==0.3.4
python3-openid==3.1.0
pytz==2017.2
requests==2.18.1
requests-oauthlib==0.8.0
six==1.10.0
urllib3==1.21.1
