{% extends "viewcv/base.html" %}
{% load i18n %}
{% block head_title %} {% trans 'CSS list' %} {% endblock %}

{% block content %}
<h1> {% trans 'CSS list' %} </h1>

<table class="table">
  <thead>
    <tr>
      <th> {% trans 'Title' %} </th>
      <th colspan="2"> {% trans 'Creator' %} </th>
    </tr>
  </thead>
  <tbody>
{% for css in css_list %}
    <tr>
      <td> {{ css.title }} </td>
      <td> {{ css.creator.username }} </td>
      <td>
  {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'css_update' css.id %}">{% trans 'Edit' %} </a>
  {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

{% endblock %}
