{% extends "viewcv/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}{% if cv.title %}{{ cv.title }}{% else %}CV{% endif %}{% endblock %}
{% block content %}

{% if display == 'fs' or format %}
  {% include 'viewcv/snippets/cv_core.html' %}
{% else %}
<div class="text-right">
  <a href="{% url 'cv_update' cv.id %}">[{% trans 'Edit' %}]</a>
  <a href="?format=html">[{% trans 'HTML' %}]</a>
  <a href="?format=pdf">[PDF]</a>
</div>
<div class="row">
  <div class="col-2"> &nbsp; </div>
  <div class="col-8">
  {% include 'viewcv/snippets/cv_core.html' %}
  </div>
  <div class="col-2"> &nbsp; </div>
</div>
{% endif %}

{% endblock content %}
