{% extends "viewcv/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}{% if cv.title %}{{ cv.title }}{% else %}CV{% endif %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-2"> &nbsp; </div>
  <div class="col-8">
<h1> {{ cv.title }} </h1>

{% with info=cv.personal %}
<table class="table">
  <tbody>
  {% if info.image %}
    <tr>
      <td rowspan="5" width="10%">
        <img alt="{{ user.username }}" src="{{ info.image }}" />
      </td>
    </tr>
  {% endif %}
    <tr>
      <th> {% trans 'Name' %} </th>
      <td> {{ cv.user.first_name }} {{ cv.user.last_name }} </td>
    </tr>
    {% if info.email %} <tr> <th> {% trans 'Email' %} </th> <td> {{ info.email }} </td> </tr> {% endif %}
    {% if info.phone %} <tr> <th> {% trans 'Phone' %} </th> <td> {{ info.phone }} </td> </tr> {% endif %}
    {% if info.url %}
    <tr>
      <th> {% trans 'Home page' %} </th>
      <td> <a href="{{ info.url }}"> {{ info.url }} </a> </td>
    </tr>
  {% endif %}
  {% if info.summary %} <tr> <td colspan="2"> {{ info.summary }} </td> </tr> {% endif %}
  </tbody>
</table>
{% endwith %}

<h3> {%  trans 'Work experience' %} </h3>

<ul>
{% for work in cv.work_set.all %}
  <li> <strong> {{ work.start_date|date:"Y-m" }} / {{ work.end_date|date:"Y-m" }} ({{ work.duration_str }})
      {{ work.position }} at
    {% if work.url %}
      <a href="{{ work.url }}">{{ work.name }}</a>
    {% else %}
      {{ work.name }}
    {% endif %}
     </strong>
    <ul> <li> {{ work.summary }} </li> </ul>
  </li>
{% endfor %}
</ul>

<h3> {%  trans 'Education' %} </h3>

<ul>
{% for edu in cv.education_set.all %}
  <li> <strong> {{ edu.start_date|date:"Y-m" }} / {{ edu.end_date|date:"Y-m" }} ({{ edu.duration_str }})
    {% if edu.study_type and edu.area and edu.institution %}
      {{ edu.study_type }} of {{ edu.area }} at
    {% elif edu.study_type and edu.institution %}
      {{ edu.study_type }} at
    {% elif edu.area and edu.institution %}
      {{ edu.area }} at
    {% endif %}
    {% if edu.url %}
      <a href="{{ edu.url }}">{{ edu.institution }}</a>
    {% else %}
      {{ edu.institution }}
    {% endif %}
   </strong>
    {% if edu.summary %}<ul> <li> {{ edu.summary|safe }} </li> </ul>{% endif %}
  </li>
{% endfor %}
</ul>

  </div>
  <div class="col-2"> &nbsp; </div>
</div>
{% endblock content %}
