{% extends "viewcv/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}{{ cv.title }}{% endblock %}
{% block content %}
<h1> CV: {{ cv.title }} </h1>

<table class="table">
  <tr>
    <th> {% trans 'First name' %} </th>
    <td colspan="2"> {{ cv.user.first_name }} </td>
  </tr>
  <tr>
    <th> {% trans 'Last name' %} </th>
    <td colspan="2"> {{ cv.user.last_name }} </td>
  </tr>
</table>

<table class="table">
{%  for work in cv.work_set.all  %}
  <tr>
    <th> {{ work.company }}</th>
    <th> {{ work.start_date|date:"Y-m" }} / {{  work.end_date|date:"Y-m" }}</th>
  </tr>
  <tr>
    <td colspan="2">{{ work.summary }}</td>
  </tr>
{% endfor %}
</table>

{% endblock content %}
