{% extends "viewcv/base.html" %}
{% load i18n %}
{% block head_title %} {% trans "Edit CV" %} {% endblock %}
{% block content %}
<div> {{ form.non_field_errors }}</div>

<form method="post" action="{% url 'cv_update' cv.id %}">
      <input type="hidden" name="next" value="{% url 'cv' cv.id %}" />
  {% csrf_token %}
  <table class="table">
    <tr>
        <th class="nowrap"> {{ form.name.label_tag }} </th>
        <td> {{ form.name }} </td>
        <td> {{ form.name.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.title.label_tag }} </th>
        <td> {{ form.title }} </td>
        <td> {{ form.title.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.summary.label_tag }} </th>
        <td> {{ form.summary }} </td>
        <td> {{ form.summary.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.public.label_tag }} </th>
        <td> {{ form.public }} </td>
        <td> {{ form.public.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.primary.label_tag }} </th>
        <td> {{ form.primary }} </td>
        <td> {{ form.primary.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.css_url.label_tag }} </th>
        <td> {{ form.css_url }} </td>
        <td> {{ form.css_url.help_text }} </td>
    </tr>
    <tr>
        <th class="nowrap"> {{ form.css.label_tag }} </th>
        <td> {{ form.css }} </td>
        <td> {{ form.css.help_text }} </td>
    </tr>
    <tr>
        <td colspan="2">
            <input type="submit" id="id_button_login" class="btn btn-primary" value="{% trans 'Save' %}" />
        </td>
    </tr>
  </table>
</form>

{% if form.errors %}
<p> {{ form.errors }} </p>
{% endif %}
{% endblock %}
