{% extends "viewcv/base.html" %}
{% load i18n %}
{% block head_title %} {% trans 'CV list' %} {% endblock %}

{% block content %}
<h1> {% trans 'CV list' %} </h1>

<table class="table">
  <thead>
    <tr>
      <th> {% trans 'Created' %} </th>
      <th> {% trans 'Username' %} </th>
      <th> {% trans 'Name' %} </th>
      <th colspan="2"> {% trans 'Title' %} </th>
    </tr>
  </thead>
  <tbody>
{% for cv in cv_list %}
    <tr>
      <td> {{ cv.created|date:"Y-m-d H:i" }}</td>
      <td> {{ cv.user.username }} </td>
      <td> <a href="{% url 'cv' cv.id %}">{{ cv.name }} </a> </td>
      <td> {{ cv.title }} </td>
      <td>
          <a class="btn btn-primary" href="{% url 'cv_update' cv.id %}">{% trans 'Edit' %} </a>
          <a class="btn btn-danger" href="{% url 'cv_delete' cv.id %}">{% trans 'Delete' %} </a>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
