{% extends "viewcv/base.html" %}

{% load account %}
{% load i18n %}

{% block head_title %}Profile{% endblock %}
{% block content %}
<h1> {% user_display user %} </h1>

<table class="table">
  <tr>
    <th> {% trans 'Username' %} </th>
    <td> {{ target_user.username }} </td>
  </tr>
  <tr>
    <th> {% trans 'Email' %} </th>
    <td> {{ target_user.email }} </td>
  </tr>
  <tr>
    <th> {% trans 'First name' %} </th>
    <td> {{ target_user.first_name }} </td>
  </tr>
  <tr>
    <th> {% trans 'Last name' %} </th>
    <td> {{ target_user.last_name }} </td>
  </tr>
</table>

{% if target_user == user %}
<p>
  <a class="btn btn-danger" href="{% url 'user_delete' target_user %}">
    {% trans 'Delete account' %}
  </a>
</p>
{% endif %}

{% endblock content %}
