{% load account %}
{% load i18n %}

<h1> {{ cv.user.first_name }} {{ cv.user.last_name }} &nbsp; <small class="text-muted"> {{ cv.title }} </small> </h1>

{% with info=cv.personal %}
<table class="table table-sm">
  <tbody>
  {% if info.image %}
    <tr>
      <td rowspan="7" style="width:10%">
        <img id="mugshot" alt="{{ user.username }}" src="{{ info.image }}" />
      </td>
    </tr>
  {% endif %}
  {% if info.email %} <tr> <th style="width:20%"> {% trans 'Email' %} </th> <td> {{ info.email }} </td> </tr> {% endif %}
  {% if info.phone %} <tr> <th style="width:20%"> {% trans 'Phone' %} </th> <td> {{ info.phone }} </td> </tr> {% endif %}
  {% if info.url %}
    <tr>
      <th> {% trans 'Home page' %} </th>
      <td> <a href="{{ info.url }}"> {{ info.url }} </a> </td>
    </tr>
  {% endif %}

  {% if cv.specialties.count > 0 %}
    <tr>
      <th> {% trans 'Specialties' %} </th>
      <td>
        {% for skill in cv.specialties.all %}
          {% if forloop.last %}
            {{ skill.name }}
          {% else %}
            {{ skill.name }},
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endif %}

  {% if cv.non_specialties.count > 0 %}
    <tr>
      <th> {% trans 'Other skills' %} </th>
      <td>
        {% for skill in cv.non_specialties.all %}
          {% if forloop.last %}
            {{ skill.name }}
          {% else %}
            {{ skill.name }},
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endif %}

  {% if cv.language_set.count > 0 %}
    <tr>
      <th> Languages </th>
      <td>
        {% for lang in cv.language_set.all %}
          {% if forloop.last %}
            {{ lang.name }}
          {% else %}
            {{ lang.name }},
          {% endif %}
        {% endfor %}
      </td>
    </tr>
  {% endif %}

  {% if info.profile_list %}
    <tr>
      <th> Profiles </th>
      <td>
      {% for profile in info.profile_list %}
        {% if profile.url and profile.username %}
          {{ profile.network }}: <a href="{{ profile.url }}">{{ profile.username }}</a>
        {% else %}
          {{ profile.network }}
        {% endif %}
      {% endfor %}
      </td>
    </tr>
  {% endif %}
  {% if info.summary %}
    <tr> <td colspan="3"> {{ info.summary|safe }} </td> </tr>
  {% endif %}
  </tbody>
</table>
{% endwith %}

<h2 id="work-experience-header"> {%  trans 'Work experience' %} </h2>

<ul>
{% for work in cv.work_set.all %}
  <li> <strong> {{ work.start_date|date:"Y-m" }} /
    {% if work.end_date.year == 1337 %}
      current
    {% else %}
      {{ work.end_date_current|date:"Y-m" }}
    {% endif %}
      ({{ work.duration_str }})
      {{ work.position }} at
    {% if work.url %}
      <a href="{{ work.url }}">{{ work.name }}</a>
    {% else %}
      {{ work.name }}
    {% endif %}
     </strong>
    <ul>
        <li> {{ work.summary }} </li>
    {% if work.project_set.count > 0 and False %}
        <li>
            Projects
            <ul>
        {% for project in work.project_set.all %}
                <li>
            {{ project.start_date|date:"Y-m" }}
            {% if project.duration_str %}
                / {{ project.end_date|date:"Y-m" }}
                ({{ project.duration_str }})
            {% endif %}
            {{ project.name }}
                <ul>
                    <li>{{ project.description }}</li>
                </ul>
        {% endfor %}
            </ul>
        </li>
    {% endif %}
    </ul>
  </li>
{% endfor %}
</ul>

<h2 id="education-header"> {%  trans 'Education' %} </h2>

<ul>
{% for edu in cv.education_set.all %}
  <li> <strong> {{ edu.start_date|date:"Y-m" }} /
    {% if edu.end_date.year == 1337 %}
      ongoing
    {% else %}
      {{ edu.end_date_current|date:"Y-m" }}
    {% endif %}
    ({{ edu.duration_str }})
    {% if edu.study_type and edu.area and edu.institution %}
      {{ edu.study_type }} of {{ edu.area }} at
    {% elif edu.study_type and edu.institution %}
      {{ edu.study_type }} at
    {% elif edu.area and edu.institution %}
      {{ edu.area }} at
    {% endif %}
    {% if edu.url %}
      <a href="{{ edu.url }}">{{ edu.institution }}</a>
    {% else %}
      {{ edu.institution }}
    {% endif %}
   </strong>
    {% if edu.summary %}<ul> <li> {{ edu.summary|safe }} </li> </ul>{% endif %}
  </li>
{% endfor %}
</ul>

{% if cv.volunteer_set.count > 0 %}
<h2 id="volunteer-header"> {%  trans 'Other experience' %} </h2>
<ul>
  {% for vol in cv.volunteer_set.all %}
  <li>
    <strong>
      {{ vol.start_date|date:"Y" }}
    {% if vol.duration_years %}
      / {{ vol.end_date_current|date:"Y" }}
    {% endif %}
      {{ vol.position }} in
    {% if vol.url %}
      <a href="{{ vol.url }}">{{ vol.organization }}</a>
    {% else %}
      {{ vol.organization }}
    {% endif %}
    </strong>
    {% if vol.summary %}
    <ul> <li> {{ vol.summary|safe }} </li> </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if cv.hobby_projects.count > 0 %}
<h2 id="hobby-projects-header"> {%  trans 'Hobby projects' %} </h2>
<ul>
  {% for project in cv.hobby_projects %}
  <li>
    <strong>
      {{ project.start_date|date:"Y" }}
    {% if vol.duration_years %}
      / {{ project.end_date|date:"Y" }}
    {% endif %}
    {% if project.url %}
      {% if format == 'pdf' %}
        {{ project.name }} ({{ project.url }})
      {% else %}
        <a href="{{ project.url }}">{{ project.name }}</a>
      {% endif %}
    {% else %}
      {{ project.name }}
    {% endif %}
    </strong>
    {% if project.description %}
    <ul>
        {% if project.keyword_str %}
        <li> Technologies: {{ project.keyword_str }}</li>
        {% endif %}
        <li> {{ project.description|safe }} </li>
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}

{% if cv.work_projects.count > 0 %}
<h2 id="work-projects-header"> {%  trans 'Work projects' %} </h2>
<ul>
  {% for project in cv.work_projects %}
  <li>
    <strong>
        {{ project.start_date|date:"Y-m" }}
        {% if project.duration_str %}
          {% if project.end_date.year == 1337 %}
            / ongoing
          {% else %}
            / {{ project.end_date_current|date:"Y-m" }}
          {% endif %}
          ({{ project.duration_str }})
        {% endif %}
        {{ project.name }}
    </strong>
    {% if project.description %}
    <ul>
        {% if project.keyword_str %}
        <li> Technologies: {{ project.keyword_str }}</li>
        {% endif %}
        {% if project.industry %}<li>Industry: {{ project.industry }}</li>{% endif %}
        {% if project.client %}<li>Client: {{ project.client }}</li>{% endif %}
        <li>{{ project.description|safe }}</li>
    </ul>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}
