# Listen to HTTP and redirect to HTTPS
server {
    listen 80;
    listen [::]:80; #IPv6
    server_name {{ site_name }} www.{{ site_name }};
    return 301 https://$host$request_uri;
}

# Actual HTTPS server
server {
    listen 443 ssl;
    listen [::]:443 ssl ipv6only=on; #IPv6
    server_name {{ site_name }} www.{{ site_name }} staging.{{ site_name }};
    ssl_certificate /etc/letsencrypt/live/{{ site_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site_name }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

    # location /favicon.ico {
    #     alias /home/{{ ansible_user }}/sites/jln-static/favicon.ico;
    # }

    location /static {
        alias /home/{{ ansible_user }}/sites/{{ site_name }}/static;
        autoindex on;
    }

    # This is used by certbot to verify site ownership
    location /.well-known {
        alias /home/{{ ansible_user }}/sites/{{ site_name }}/.well-known;
        autoindex on;
    }

    location / {
        proxy_set_header Host {{ site_name }};
        proxy_pass http://unix:/tmp/{{ site_name }}.socket;
    }
}
