{% extends "viewcv/base.html" %}
{% load i18n %}
{% block head_title %} {% trans 'Confirm delete user' %} {% endblock %}

{% block content %}
<h1> {% trans 'Are you sure you want to delete user' %}: {{ user.username }}? </h1>

<table class="table">
    <tr>
        <td>
    <form action="{% url 'user_delete' user.username %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" id="button_delete" value="{% trans 'Delete' %}" />
    </form>
    </td>
        <td>
    <form action="{% url 'home' %}" method="get">
    {% csrf_token %}
        <input type="submit" class="btn btn-primary" id="button_cancel" value="{% trans 'Cancel' %}" />
    </form>
        </td>
    </tr>
</table>

{% endblock %}
